<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Chatoi</title>

		<!-- Bootstrap core CSS -->
		<link href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/stylesheets/core.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!-- Fixed navbar -->
		{{> navbar}}

		<div class="container">
			<h1>Chat</h1>

			<div id='app-alert'></div>
			
			{{#unless auth}}
			<div class='row'>
				<div class='col-xs-4'>
					{{test}}
					<form id='signin-form' role="form" action="/authentication.json" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label for="input-name">Username</label>
							<input type="text" class="form-control" id="input-name" placeholder="Enter name" name="username" data-trigger="focus" data-container="body" data-content="Your username cannot be longer than 8 characters and it can only contain alphanumeric characters (letters A-Z, numbers 0-9) with the exception of underscores">
						</div>

						<div class="form-group">
							<label for="input-image">Profile picture</label>
							<input type="file" id="input-image" name="image">
						</div>

						<button id='signin-btn' type="submit" class="btn btn-primary">Sign in</button>
					</form>	
				</div>
			</div>
			{{/unless}}

		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/components/jquery/jquery.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/javascripts/core.js"></script>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
