{% extends 'layout.html' %}

{% block styles %}
<link href="/stylesheets/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Chatoi</h1>

{% if auth %}
<!-- Chat panel -->
<div id='chat-panel' class='panel panel-info'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Connecting...</h3>
	</div>

	<div class='panel-body'>
		<ul id='chat-window' class="media-list">
			{% for message in messages %}
			<li class="media message-item">
				<div class="pull-left">
					<img class="media-object user-image" src="{{message.user.image}}" alt="{{message.user.username}}" />
				</div>

				<div class="media-body">
					<h4 class="media-heading"><span class='user-username'>{{message.user.username}}</span> <small><time class="message-created" datetime="{{message.created}}">{{message.ago}}</time></small></h4>
					<div class="message-content">
						{{message.content}}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>

		<div class="form-group">
			<input type="text" class="form-control" id="input-message" placeholder="" name="message" autofocus disabled>
		</div>
	</div>
</div> <!-- / Chat panel -->
{% else %}
<div class='row'>
	<div class='col-sm-4'>
		<!-- Sign in panel -->
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h3 class='panel-title'>Sign in to chat</h3>
			</div>

			<div class='panel-body'>
				<div id='signin-status'></div>

				<form id='signin-form' role="form" action="/authentication.json" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label for="input-name">Username</label>
						<input type="text" class="form-control input-lg" id="input-name" placeholder="mono" name="username" data-trigger="focus" data-container="body" data-content="Your username cannot be longer than 8 characters and it can only contain alphanumeric characters (letters A-Z, numbers 0-9) with the exception of underscores">
					</div>

					<div class="form-group">
						<label for="input-image">Picture</label>
						<input type="file" id="input-image" name="image">
					</div>

					<button id='signin-btn' type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
				</form>
			</div>
		</div> <!-- / Sign in panel -->
	</div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/components/socket.io-client/dist/socket.io.min.js"></script>
<script src="/components/moment/min/moment.min.js"></script>
<script src="/components/handlebars/handlebars.min.js"></script>
<script src="/javascripts/core.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/index.js"></script>
{% endblock %}
